* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background: rgb(193, 193, 193);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    padding: 1em;

}

nav a:hover {
    background: blue;
}

nav ul li:nth-child(5) {
    font-family: 'Montserrat', sans-serif;
    /*padding: .2em 0;*/
    margin: 0 auto;
    /*font-size: 3em;*/

}

nav ul li:nth-child(6) {
    margin-left: auto;
}

