body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info{
    background-color: #cddeff;
    color: #3c3496;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1em;
    margin: .5em;
}

.message-success{
    background-color: #cff3da;
    color: #479366;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1em;
    margin: .5em;
}

.message-warning{
    background-color: #fcfbc9;
    color: #b4a753;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1em;
    margin: .5em;
}

.message-error{
    background-color: #fad3d7;
    color: #8e2a42;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1em;
    margin: .5em;
}